@model AddLookupViewModel

@{
    ViewData["Title"] = "Add Types";
}

<div class="container">
    <h3 class="text-primary">Types</h3>
    <hr />
    <form asp-action="AddType" method="post">
        <div class="card mx-auto" style="width: 50%;">
            <div class="card-header text-black-50">
                <h5 class="card-title">Add New Type</h5>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label asp-for="NameEn"></label>
                    <input asp-for="NameEn" class="form-control" maxlength="100" />
                    <span asp-validation-for="NameEn" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="NameAr"></label>
                    <input asp-for="NameAr" class="form-control" maxlength="100" />
                    <span asp-validation-for="NameAr" class="text-danger"></span>
                </div>
                <div>
                    <input asp-for="LookupCategoryId" value="100" type="hidden"/>
                </div>
            </div>
            <div class="card-footer">
                <div>
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}