@{
    ViewData["Title"] = "Trainers";
}
<div class="container m-2">
    <a asp-action="AddTrainer" class="btn btn-primary m-4 p-2">Add New Trainer</a>

    <div class="table-responsive">
    </div>
    <table id="myTable" class="table table-bordered table-striped table-hover">
        <tbody class="w-100"></tbody>
    </table>
</div>


@section Scripts
    {

    <script type="text/javascript">
        var dataTable; // Declare the DataTable variable globally

        $(function () {
            LoadData();
        });

        function LoadData() {
            if (dataTable) {
                dataTable.destroy(); // Destroy the existing DataTable (if any)
            }

            $.ajax({
                type: 'get',
                url: '/api/ListApi/Trainers',
                dataType: 'json',
                data: { id: '' },
                success: function (data) {
                    var items = '';
                    $.each(data, function (i, item) {
                        var rows = "<tr>"
                            + "<td>" + item.id + "</td>"
                            + "<td>" + item.nameEn + "</td>"
                            + "<td>" + item.nameAr + "</td>"
                            + "</tr>";
                        $('#myTable tbody').append(rows);
                    });

                    // Initialize the DataTable with column headers
                    dataTable = $('#myTable').DataTable({
                        "autoWidth": "true",
                        "paging": "true",
                        "columns": [
                            { "title": "Trainer ID" },
                            { "title": "Trainer Name" },
                            { "title": "أسم المدرب" },
                        ]
                    });
                },
                error: function (ex) {
                    alert(ex);
                }
            });

            return false;
        }
    </script>
    <partial name="_ValidationScriptsPartial" />

}