@{
    ViewData["Title"] = "Types";
}
<div class="container m-2">
    <a asp-action="AddType" class="btn btn-primary m-4 p-2">Add New Type</a>

    <div class="table-responsive">
    </div>
    <table id="myTable" class="table table-bordered table-striped table-hover">
        <tbody class="w-100"></tbody>
    </table>
</div>

@section Scripts
    {

    <script type="text/javascript">
        var dataTable; // Declare the DataTable variable globally

        $(function () {
            LoadData();


        });

        function LoadData() {
            if (dataTable) {
                dataTable.destroy(); // Destroy the existing DataTable (if any)
            }

            $.ajax({
                type: 'get',
                url: '/api/ListApi/Types',
                dataType: 'json',
                data: { id: '' },
                success: function (data) {
                    var items = '';
                    $.each(data, function (i, item) {
                        var editButton = '<button class="btn btn-warning btn-sm" onclick="editRow(' + item.id + ')">Edit</button>';
                        var deleteButton = '<button class="btn btn-danger btn-sm js-delete" data-id="' + item.id + '">Delete</button>';
                        var rows = "<tr>"
                            + "<td>" + item.id + "</td>"
                            + "<td>" + item.nameEn + "</td>"
                            + "<td>" + item.nameAr + "</td>"
                            + "<td>" + editButton + " " + deleteButton + "</td>"
                            + "</tr>";
                        $('#myTable tbody').append(rows);
                    });

                   

                    // Initialize the DataTable with column headers
                    dataTable = $('#myTable').DataTable({
                        "autoWidth": "true",
                        "paging": "true",
                        "columns": [
                            { "title": "Type ID" },
                            { "title": "Training Type" },
                            { "title": "نوع التدريب" },
                            { "title": "", "sortable": false }
                        ]
                    });
                },
                error: function (ex) {
                    alert(ex);
                }
            });

            return false;
        }
    </script>
    <partial name="_ValidationScriptsPartial" />

}