<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/libb/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">

    <!-- Vendor CSS Files -->
    <link href="~/lib/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/lib/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/lib/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/lib/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/lib/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/lib/assets/vendor/simple-datatables/style.css" rel="stylesheet">
    <link src="https://cdn.syncfusion.com/ej2/22.2.9/fluent.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.syncfusion.com/ej2/22.2.9/dist/ej2.min.js"></script>



    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css">
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>


    <!-- Add this link to the head section or a common place for CSS imports -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />


    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>


    <!-- Jquery -->
    <script src="~/jquery/jquery.js"></script>
    <script src="~/jquery/jquery.js"></script>
    <script src="~/jquery-validate/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="~/lib/assets/css/style.css" rel="stylesheet">

    <link rel="stylesheet" href="~/libb/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />




    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="path/to/chartjs/dist/chart.umd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

</head>
<body>


    <div id="layoutSidenav">

        <div id="layoutSidenav_nav">
            <div style="background-color:#085394 ;color:white">
                <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
                <label>Welcome Ahmad, </label>
                <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarTogsgle" href="#!"><i class="bi bi-box-arrow-right"></i></button>
            </div>
            <nav style="background-color:#085394" class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">

                <div class="sb-sidenav-menu">
                    <div class="nav">

                        <hr style="margin-right: 25px;margin-left: 7px; color:white;" />

                        <a style="color:white" class="nav-link" asp-action="Index" asp-controller="Home">

                            Dashboard
                        </a>
                        <hr style="margin-right: 25px;margin-left: 7px; color:white;" />

                        <a style="color:white" class="nav-link " asp-action="Index" asp-controller="Session">

                            Training Sessions

                        </a>
                        <hr style="margin-right: 25px;margin-left: 7px;color:white;" />

                        <a style="color:white" class="nav-link " asp-action="Topics" asp-controller="List">

                            Training Topics

                        </a>
                        <hr style="margin-right: 25px;margin-left: 7px;color:white;" />


                        <a style="color:white" class="nav-link" asp-action="Types" asp-controller="List">

                            Training Types
                        </a>
                        <hr style="margin-right: 25px;margin-left: 7px;color:white;" />

                        <a style="color:white" class="nav-link" asp-action="Trainers" asp-controller="List">

                            Trainers
                        </a>
                        <hr style="margin-right: 25px;margin-left: 7px;color:white;" />

                        <a style="color:white" class="nav-link" asp-action="" asp-controller="">

                            User Managment
                        </a>
                        <hr style="margin-right: 25px;margin-left: 7px;color:white;" />

                        <a style="color:white" class="nav-link" href="@Url.Action("GetReport", "Sessions")">

                            Reports
                        </a>
                    </div>
                </div>

            </nav>
        </div>




        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    @RenderBody()
                </div>
            </main>



        </div>
    </div>







    <script src="~/lib/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/lib/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/assets/vendor/chart.js/chart.min.js"></script>
    <script src="~/lib/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/lib/assets/vendor/quill/quill.min.js"></script>
    <script src="~/lib/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/lib/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/lib/assets/vendor/php-email-form/validate.js"></script>


    <script src="~/lib/assets/js/main.js"></script>



    <script src="~/libb/jquery/dist/jquery.min.js"></script>
    <script src="~/libb/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>